Repository muhtalhakhan/Hacktoberfest2024, pull requests merged in 2024-10, with the labels that each got.

#34 New User added
  content/participant/surajb0710.md
  static/images/surajb0710.png
Labels: hacktoberfest

#35 User registration form added
  forms-portal/user-registration-form/style.css
  forms-portal/user-registration-form/userRegistrationForm.html
Labels: hacktoberfest, hacktoberfest-accepted

#44 Quiz App using javascript Added
  content/participant/Moazam.md
  quiz-app/.prettierrc
  quiz-app/index.html
  quiz-app/readme.md
  quiz-app/src/app.js
  quiz-app/src/quizz.jpg
  quiz-app/src/style.css
  static/images/moazam.jpg
Labels: good first issue, hacktoberfest, hacktoberfest-accepted

#40 Create a Python to load a CSV file for processing.
  csv_cleanser.py
  src/babel.config.json
Labels: good first issue, hacktoberfest
